.relative {
    position: relative;
    top: 0;
    left: 0;
}

.fixed{
    position: absolute;
    top: 0;
    left: 0;
}

.tab-content{
    position: absolute;
}

#stage {
    z-index: 0;
    top: 40px;
}

.mask {
    z-index: -10;
    background: rgba(0, 255, 0, 0.3);
}